@font-face {
	font-family: "GBA-Font";
	src: url(/public/PokemonGBA.ttf) format(truetype);
}

h1 {
	color: black;
}

h2 {
	color: black;
	font-family: "GBA-Font", sans-serif;
}

.display {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	/* border: 5px solid #ff0000; */
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	padding: 20px;
	width: 380px;
	height: 280px;
	margin-top: -200px;
	margin-left: -85px;
}

.pokemon-container {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-left: 0px;
}

.pokemon-name {
	margin-top: -10px;
	font-size: 20px;
}

.pokemon-image {
	width: 250px;
	height: auto;
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 600px) {
	.display {
		width: 80%;
		height: auto;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
	}
}
